.aboutContainer {
    width: 900px;
    margin: 200px auto;
    margin-bottom: 130px;
}

@media only screen and (max-width: 1024px) {
    .aboutContainer {
        width: 600px;
        margin: 150px auto;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .aboutContainer {
        border: 2px solid red;
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {


}