.each-fade {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 260px;
    height: 360px;
  }
  
  .each-fade > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .homeCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .homeImgCont {
    height: 100%;
    width: 100%;

  }

  .slide-container {
    height: 100%;
    width: 100%;
  }

  /* .default-nav {
    display: none;
  } */

@media only screen and (max-width: 1024px) {
    .each-fade {
    width: 230px;
    height: 320px; 
  }

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {


}